@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap'); 


#mysection {
    /* I practiced by writing it with with percent then rewrote it in fr  */
    display:  grid;
    grid-template-columns: 20fr 20fr 20fr 20fr;
    grid-template-rows: 5fr 35fr 20fr 18fr;
    gap: 1vw;

    height: 100vh;
    padding: 1vw;
}

div {
text-align: center;
border-radius: 1rem;
font-family: 'Roboto Condensed', sans-serif;

}


.navbar {
    background-color: #b7094cff;
    
    grid-column: span 4;
}
.sidebar {
    background-color: #a01a58ff;
    grid-row: 2 / 5;
}
.main {
    background-color: #892b64ff;
    grid-column: span 3;
}
.content1 {
    background-color :#723c70ff ;
}
.content2 {
    background-color: #5c4d7dff;
}
.content3 {
    background-color: #455e89ff;
}
.footer {
    background-color: #2e6f95ff;
    grid-column: span 3;
}

 @media screen and (max-width: 1200px){
    #mysection {
        grid-template-columns: 1fr;
        grid-template-rows: 5fr 5fr 30fr 15fr 15fr 15fr 10fr;
    
    }
    
    .navbar {
    
        grid-column: span 1;
    }
    .sidebar {
      
        grid-row: span 1 ;
    }
    .main {
        grid-column: span 1;
    }
    .footer {
        grid-column: span 1;
    }
} 